/* app css stylesheet */

.title-destination {
  writing-mode: tb-rl;
  position: absolute;
  padding-top: 5%;
  background-color: #0202026b;
  color: whitesmoke;
  font-size: 24px;
}

.main-content {
  width: 700px;
  height: 1000px;
  overflow-y: scroll;
}

.custom-table {
  table-layout: fixed;
}

.image-default {
  width: 200px;
  height: 200px;
}

.title-image {
  font-size: 24px;
}